.container-pagecompra {
  width: 80%;
  height: 150vh auto ;
  display: flex;
  align-items: center; 
  flex-direction: column;
  margin: 0 auto; 
}

.botoes-interativos {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 60%; 
}

.botao{
  border-radius: 30px;
  background-color: var(--cor-background-botoes);
  width: 18%;
  padding: 0.18em;
  text-align: start;
  padding-left: 1em;
}

.container-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: max-content;
  gap: 2rem;
  margin: 0;
}

.box-imoveis{
  margin-top: 2rem;
  background-color: var(--background-cor-box);
  border-radius: 30px;
  height: 400px;
  gap: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.box-imoveis img{
  width: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.box-texto{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.box-imoveis:hover {
  transform: translateY(-5px);
}