@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --branco-primario: rgba(255, 255, 255, 0.76);
  --background-cor: rgba(37, 37, 37, 0.64);
  --cor-vinho-principal: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: var(--background-cor);
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  height: 60vh;
  background: url('https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}

header {
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 255, 0.48);
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.166);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.row-interativos {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
  width: 40vw fit-content;
  text-align: center;
  padding: 0.5em;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.row-interativos:hover {
  color: rgba(39, 37, 37, 0);
  background-color: rgba(0, 0, 0, 0.657);
}

.row-interativos a {
  color: var(--branco-primario);
  text-decoration: none;
  font-size: 21px;
}

.row-interativos a:hover {
  color: var(--cor-vinho-principal);
}

.anunciar {
  border: none;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 30px;
  padding: 4px;
  text-align: center;
  text-decoration: dotted;
}

header .logo img {
  width: 13vw;
  height: 13vw;
}

.pesquisa img {
  width: 1.5vw;
}

.contato {
  display: flex;
  gap: 20px;
}

.contato img {
  width: 3vh;
}

.container2 {
  width: 80%;
  height: 50vh;
  margin: 2em auto 0;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.box {
  width: 26.6%;
  height: 30vh;
  margin: 1.5em;
  background-color: rgba(0, 0, 0, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}
@media (max-width: 1024px) {
  .row-interativos {
    width: 50%; 
  }

  header .logo img {
    width: 20vw;
    height: auto; 
  }
  .pesquisa img {
    width: 4vw;
  }
  .box {
    width: 50%;
  }
}

@media (max-width: 768px) {
  header {
    height: 12vh;
  }

  .pesquisa img {
    width: 4vw;
  }

  .row-interativos {
    width: 70%; 
    gap: 1em; 
    padding: 0.5em;
  }

  header .logo img {
    width: 25vw;
    height: auto;
  }

  .box {
    width: 80%;
  }
}

@media (max-width: 480px) {
  header {
    height: 10vh;
    display: flex;
    justify-content: center;
  }
  .pesquisa img {
    width: 4vw;
  }

  .row-interativos {
    width: 24%; 
    font-size: 8px;
    gap: 1.3em;
    flex-direction: row;
    align-items: center; 
  }

  .contato img{
    width: 4vw;
  }

  header .logo img {
    width: 20vw;
    height: auto;
  }

  .box {
    width: 90%;
  }

  .row-interativos a {
    font-size: 12px; 
  }
}
