.container-register{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  background-color: var(background-color);
  text-align: center;
}


form{
  background-color: rgba(90, 90, 184, 0.828);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  align-self:center ;
  border: 0px solid transparent;
  border-radius: 40px;
  padding: 2em;
  max-width: 80%;
}
 form h1{
  text-align: center;
 }
form input{
  width: 40%;
  display: flex;
  align-self:center ;
}

form button{
  height: 30%;
  width: 40%;
  align-self: center;
  border-radius: 30px;
  background-color: gray;
}

form button:hover{
  background-color: white;
  color: black;
  opacity: 0.5;
}
