@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --branco-primario: rgba(255, 255, 255, 0.939);
  --background-cor: #c3c1c100;
  --background-cor-header:#0000ff7a;
  --cor-hover-principal:rgb(112, 112, 112);
} 

*{
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  width: 100vw;
}