@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --branco-primario: rgba(255, 255, 255, 0.939);
  --background-cor: #c3c1c1d4;
  --background-cor-header:#0000ffc9;
  --background-cor-box:#2439afe8;
  --cor-hover-principal:rgb(0, 0, 0);
  --cor-background-botoes: rgba(48, 105, 180, 0.836);
} 

*{
  margin: 0;
  padding: 0;

}

body, html{
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1024px) {
  .row-interativos {
    width: 50%; 
  }

  header .logo img {
    width: 20vw;
    height: auto; 
  }
  .pesquisa img {
    width: 4vw;
  }
  .box {
    width: 50%;
  }
}

@media (max-width: 480px) {
  header {
    min-width: 414px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pesquisa img {
    width: 20px;
  }

  .row-interativos {
    font-size: 4px;
    width: 330px;
    align-items: center; 
    gap: 0px;
    padding: 0px ;
    margin: 0px;
  }

  .contato {
    display: flex;
    gap: 8px;
    width: 35px;
  }
  .nav-pesquisa{
    display: flex;
    justify-content: space-around;
    gap: 12px;
  }

  .anunciar{
    padding: 3px 0px 3px 0px;
    width: 110px;
    display: flex;
    justify-content: center;
  }

  .contato img{
    width: 15px;
  }

  header .logo img {
    width: 40px;
    height: auto;
  }

  .box {
    width: 20px;
  }

  .row-interativos a {
    font-size: 12px; 
  }

  .produtos-nav-bar{
    display: flex;
  }
}
